<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <header class="header">
        <h1>Community driven platform</h1>
        <p>Place to share and explore book recommendations</p>
        <button id="loginButton">Login</button>

        <div id="userGreeting" class="hidden">
            <span id="greetingText"></span>
            <img id="profileImage" src="" alt="Profile" />
        </div>

        <div id="dropdownContainer" class="dropdown-content">
            <div class="tab">
                <button id="loginTab" class="active">Login</button>
                <button id="registerTab" class="active">Register</button>
            </div>
            <form id="loginForm">
                <h3>Login</h3>
                <input type="text" placeholder="Username" required>
                <input type="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <form id="registerForm">
                <h3>Register</h3>
                <input type="text" placeholder="Username" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
        </div>
    </header>


    <nav class="navbar">
        <div id="exploreLink" class="active">
            <p>Explore</p>
        </div>
        <div id="recommendationLink">
            <p>Recommendation</p>
        </div> 
    </nav>


    <main class="main">
        <!-- Explore Section -->
        <div id="exploreSection" class="section">
            <!-- Search bar container -->
            <div class="searchbar">
                <select id="optionselect">
                    <option value="">All</option>
                    <option value="intitle">Title</option>
                    <option value="inauthor">Author</option>
                    <option value="subject">Category</option>
                    <option value="inpublisher">Publisher</option>
                </select>
                <input type="text" id="searchInput" placeholder="Search the books..">
                <button id="searchBtn">Search</button>
            </div>

            <!-- Books List Container -->
            <div id="exploreResults">

            </div>

            <div id="load-btn" class="load-btn">
                <button>Load</button>
            </div>
        </div>
    
        <!-- Recommendation Section -->
        <div id="recommendationSection" class="section">
            <div class="filter-sort-container">
                <!-- Filter Row -->
                <div class="filter-container">
                    <h3>Filter</h3>
                    <label for="genre-select">Genre:</label>
                    <select id="genre-select" class="filter-genre">
                        <option value="all">All</option>
                        <option value="fiction">Fiction</option>
                        <option value="non-fiction">Non-Fiction</option>
                        <option value="mystery">Mystery</option>
                        <option value="science">Science</option>
                    </select>
            
                    <label for="rating-select">Rating:</label>
                    <select id="rating-select" class="filter-rating">
                        <option value="all">All</option>
                        <option value="5">5 Stars</option>
                        <option value="4">4 Stars & Up</option>
                        <option value="3">3 Stars & Up</option>
                        <option value="2">2 Stars & Up</option>
                        <option value="1">1 Star & Up</option>
                    </select>
            
                    <label for="publication-date-select">Publication Date:</label>
                    <input type="date" id="publication-date-select" class="filter-date">
                </div>
            
                <!-- Sort Row -->
                <div class="sort-container">
                    <h3>Sort By</h3>
                    <label for="sort-select">Sort By:</label>
                    <select id="sort-select" class="sort-options">
                        <option value="none">None</option>
                        <option value="title">Title (A-Z)</option>
                        <option value="-title">Title (Z-A)</option>
                        <option value="author">Author (A-Z)</option>
                        <option value="-author">Author (Z-A)</option>
                        <option value="rating">Rating (Highest)</option>
                        <option value="-rating">Rating (Lowest)</option>
                        <option value="-date">Publication Date (Newest)</option>
                        <option value="date">Publication Date (Oldest)</option>
                    </select>
                </div>
            
                <button id="apply-filters-sort">Apply Filters & Sort</button>
            </div>
            
            <div id="recommendationResults"></div>
        </div>
    </main>

    <footer>
        <div class="fadeout-popup" id="fadeout-popup">
            This feature is under development
        </div>

        <div class="auth-popup-content" id="auth-popup-content">
            Please log in or register to recommend a book.
        </div>
    </footer>

    <script>
    $(document).ready(function(){

        // Function to show the appropriate section
        function showSection(section, id) {
            $('.section').hide();
            $('.navbar div').removeClass('active');
            $(`#${section}`).show();
            $(`${id}`).addClass('active');
        }

        // Event handler for the Explore link
        $('#exploreLink').click(function(){
            showSection('exploreSection', '#exploreLink');
        });

        // Event handler for the Recommendation link
        $('#recommendationLink').click(function(){
            showSection('recommendationSection', '#recommendationLink');
            //fetchRecommendations(); // Fetch recommendations when this section is selected
        });

        $('#loginButton').on('click', function() {
            event.stopPropagation();
            $('#dropdownContainer').toggle();
            $('#loginForm').addClass('active');
            $('#registerForm').removeClass('active');
            $('#loginTab').addClass('active');
            $('#registerTab').removeClass('active');
        });

        $('#loginTab').on('click', function() {
            $('#loginForm').addClass('active');
            $('#registerForm').removeClass('active');
            $('#loginTab').addClass('active');
            $('#registerTab').removeClass('active');
        });

        $('#registerTab').on('click', function() {
            $('#registerForm').addClass('active');
            $('#loginForm').removeClass('active');
            $('#registerTab').addClass('active');
            $('#loginTab').removeClass('active');
        });

        $(document).on('click', function(event) {
            if (!$(event.target).closest('#dropdownContainer').length) {
                $('#dropdownContainer').hide();
            }
        });

        // Handle login form submission
        $('#loginForm').on('submit', function(event) {
            event.preventDefault(); // Prevent default form submission
            const loginData = {
                username: $('#loginForm input[type="text"]').val(),
                password: $('#loginForm input[type="password"]').val(),
            };

            $.ajax({
                type: 'POST',
                url: '/api/auth/login/', // Replace with your actual login endpoint
                data: JSON.stringify(loginData),
                contentType: 'application/json',
                success: function(response) {
                    storeToken(response.token);
                    updateUIAfterLoginOrRegister(loginData.username);
                    alert('Login successful!');
                    // Handle successful login (e.g., redirect, update UI)
                },
                error: function(xhr, status, error) {
                    alert('Login failed: ' + xhr.responseText);
                    // Handle login failure (e.g., show error message)
                }
            });
        });

        // Handle registration form submission
        $('#registerForm').on('submit', function(event) {
            event.preventDefault();
            const registerData = {
                username: $('#registerForm input[type="text"]').val(),
                email: $('#registerForm input[type="email"]').val(),
                password: $('#registerForm input[type="password"]').val(),
            };

            $.ajax({
                type: 'POST',
                url: '/api/auth/register/', // Replace with your actual registration endpoint
                data: JSON.stringify(registerData),
                contentType: 'application/json',
                success: function(response) {
                    storeToken(response.token);
                    updateUIAfterLoginOrRegister(registerData.username);
                    alert('Registration successful!');
                },
                error: function(xhr, status, error) {
                    alert('Registration failed: ' + xhr.responseText);
                }
            });
        });

        function storeToken(token) {
            // Store the token in localStorage
            sessionStorage.setItem('authToken', token);
        }

        function updateUIAfterLoginOrRegister(username) {
            $('#dropdownContainer').hide();
            $('#loginButton').hide();
            $('#userGreeting').removeClass('hidden');
            $('#greetingText').text('Hi, ' + username);

            $('#profileImage').attr('src', 'https://placehold.co/32.png');
        }

    });
    </script>

    <script src="{% static 'gbook.js' %}"></script>
    <script src="{% static 'recommend.js' %}"></script>

</body>
</html>
